/*This file is only needed for demo purposes in demo/ subdirectory */

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif;
  color: #454545;
  font-size: 14px;
  min-width: 700px;
  height: 100%;
}

sup {
  font-size: 80%;
  background: lightgoldenrodyellow;
}

.clear {
  clear: left;
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.wrapper-row {
  display: table-row;
  height: 100%;
}

#container {
  display: table-cell;
  height: 100%;
  padding-top: 70px;
  padding-left: 40px;
  padding-bottom: 60px;
  position: relative;
}

.rowLayout {
  clear: left;
}

.columnLayout {
  float: left;
  background-color: #FFF;
  min-height: 100%;
  position: relative;
}

.descLayout {
  width: 600px;
  margin-bottom: 60px;
}

.descLayout.noMargin {
  margin-bottom: 0;
}

.codeLayout {
  float: left;
  background-color: #F5F5FF;
  margin-bottom: 60px;
  border: 2px solid #4285c8;
}

.codeLayout pre {
  padding: 0 10px 0 10px;
}

body.home .descLayout {
  margin-bottom: 30px;
}

body.home .codeLayout {
  border: 2px solid #F5F5FF;
}

body.home .codeLayoutExpanded {
  border: 2px solid #4285c8;
}

body.home .codeLayout .jsFiddle {
  margin-bottom: 0;
}

body.home .codeLayoutExpanded .jsFiddle {
  margin-bottom: 18px;
}

/*
global menu
*/

#global-menu-clone {
  background: #efefef;
  box-shadow: inset -4px 0px 4px -4px rgba(0, 0, 0, 0.20);
  width: 250px;
  min-width: 250px;
  display: table-cell;
  vertical-align: top;
  padding: 20px 10px 20px 20px;
  z-index: 12;
  position: relative;
}

#global-menu-clone ul {
  list-style: none;
  margin: 20px 0 0 0;
  padding-left: 10px;
}

#global-menu-clone h3 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: normal; /*reset Twitter Bootstrap rule*/
}

#global-menu-clone li h3 {
  color: #999;
  cursor: pointer;
}

#global-menu-clone li h3::after {
  content: "\25be";
  margin: 0 0 0 6px;
}

#global-menu-clone li.current h3 {
  color: #454545;
}

#global-menu-clone li {
  padding: 0 0 10px 0;
  margin: 0;
}

#global-menu > ul > li {
  padding: 0 0 20px 0;
}

#global-menu-clone li a {
  color: #999;
  text-decoration: none;
}

#global-menu-clone li.current h3,
#global-menu-clone li h3:hover,
#global-menu-clone li a:hover,
#global-menu-clone li a.current {
  color: #454545;
}

#global-menu-clone li a.current {
  font-weight: bold;
}

/**
 * headers
 */

h1, h2, .tagline {
  font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif;
}

h1 {
  margin: 0 0 40px 0;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  padding-left: 10px;
}

h1 .ver {
  font-size: 10px;
}

h2 {
  margin-top: 12px;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
}

h3 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

/**
 * text
 */

a {
  text-decoration: none;
  color: #4267B6;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.tagline {
  font-size: 15px;
  width: 300px;
  color: #646464;

  margin-top: -40px;
}

h1 .small {
  font-size: 16px;
  font-weight: normal;
}

.footer-text {
  font-size: 13px;
  position: absolute;
  bottom: -25px;
  left: 0;
}

.nobreak {
  white-space: nowrap;
}

pre {
  clear: left;
}

ul,
ol,
p,
.descLayout pre {
  margin-bottom: 1.5em;
  clear: left;
}

li {
  margin-bottom: 1.3em;
}

ul.tight li {
  margin-bottom: 0.3em;
}

ul {
  padding-left: 30px;
}

ul ul {
  margin-top: 1.5em;
}

.descLayout code {
  white-space: nowrap;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #ECECEC;
  background-color: #FAFAFA;
  border-radius: 3px;
  font-size: 90%;
  font-family: Consolas, Courier, monospace;
}

.descLayout pre code {
  white-space: pre-wrap;
  padding: 3px 5px;
}

kbd {
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(#fefefe, #e7e7e7);
  background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background-image: linear-gradient(#fefefe, #e7e7e7);
  background-repeat: repeat-x;
  border-radius: 2px;
  border: 1px solid #cfcfcf;
  color: #000;
  padding: 3px 5px 0 5px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  display: inline-block;
}

/**
 * jsFiddle
 */

.jsFiddle {
  margin-bottom: 18px;
  /*margin-top: -2px;*/
  /*margin-left: -2px;*/
  clear: both;
  float: left;
}

.jsFiddleLink {
  background-color: #4285c8;
  color: white;
}

.jsFiddleLink:hover {
  background-color: #3D63AA;
}

/**
 * warning
 */

.warning {
  border: 1px solid #D4D8EB;
  padding: 10px;
  background: #F0F1F8;
  box-shadow: 2px 2px 7px #777;
  margin-bottom: 40px;
}

.warning strong {
  background: #747477;
  color: #FFF;
  border-radius: 4px;
  padding: 2px 4px;
}

.warning li,
.warning p:last-child {
  margin-bottom: 0;
}

/**
 * Handsontable
 */

.handsontable {
  color: #000;
  font-size: 12px;
}

.handsontable li {
  margin-bottom: 0; /* will be not needed after Handsontable 0.8.16 */
}

/**
 * Highlight.js
 */

.codeLayout {
  font-size: 14px;
}

.codeLayout pre code {
  padding: 0;
  background: none;
}

/**
 * documentation excerpts
 */

dl {
  background: #FDFFFF;
  border-left: 4px solid #F5F5FF;
  padding: 1px 10px 1px 10px;
  margin: 30px 0;
}

dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

dl dd {
  margin: 10px 0 0 0;
  padding: 0;
}

/**
 * home page
 */
#githubWatch {
  position: absolute;
  top: 31px;
  left: 322px;
  z-index: 10;
}

#githubFork {
  position: absolute;
  top: 31px;
  left: 432px;
  z-index: 10;
}

#domainNotice {
  display: none;
}

body.home pre {
  display: none;
}

.state-loaded {
  display: none;
}

.alert {
  color: #c09853;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/**
* buttons
**/

#outside-links-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 11;
}

button,
.button {
  font-family: Helvetica, Arial, FreeSans, sans-serif; /*Firefox tries to use system font on button*/
  display: inline-block;
  padding: 6px 9px;
  margin: 0 2px 0 0;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  -moz-user-select: none;
  background-color: #9a9a9a;
  color: white;
}

button:last-child,
.button:last-child {
  margin-right: 0;
}

.button.button-light {
  margin-right: 0;
}

button:hover,
.button:hover {
  background-color: #7a7a7a;
  text-decoration: none;
}

.button.button-secondary {
  background-color: #bbb;
}

.button.button-secondary:hover {
  background-color: #aaa;
}

button.mini {
  padding: 3px 5px;
  font-size: 11px;
  line-height: 16px;
  margin-top: -3px;
}

.show-source {
  background-color: #8fbb6d;
}

.show-source:hover {
  background-color: #76bb4c;
}

.show-source:before {
  content: 'Show source code';
}

.show-source.shown:before {
  content: 'Hide source code';
}

.inline-buttons button,
.inline-buttons .button {
  float: left;
}

.button-github {
  background-color: #4285c8;
}

.button-github:hover {
  background-color: #3D63AA;
}

.button-twitter {
  background-color: #00ACED;
}

.button-twitter:hover {
  background-color: #0095CC;
}

.button-google-groups {
  background-color: #D44332;
}

.button-google-groups:hover {
  background-color: #BC2520;
}

.handsontable col.rowHeader {
    width: 100px;
}