{% load compress %}
{% load staticloader_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>HBX Schedule</title>
    {# Load css files #}
    {% compress css %}
        {% loadcss "handsontable" "pikaday" "samples" "bootstrap" %}
    {% endcompress %}
</head>
<body>
    <div class="container">
        {% include "schedule/prev_next_buttons.html" %}
        <form method=POST>{% csrf_token %}
            <div id="table"></div>
        </form>
    </div>

    <script type="text/javascript">
        var colHeaders = {{ column_headers|safe }};
        var colHeaderIds = {{ column_header_ids|safe }};
        var rowHeaders = {{ row_headers|safe }};
        var weekends = {{ weekends|safe }};
        var data = {{ data|safe }};
    </script>

    {# Load js files #}
    {% compress js %}
        {% loadjs "jquery" "pikaday" "moment" "ZeroClipboard" "handsontable" "csrf" "bootstrap" "app" %}
    {% endcompress %}

</body>
</html>