<a href="{% url "home" year=previous.year month=previous.month %}" data-toggle="tooltip" data-placement="top" title="Previous month">
    <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </button>
</a>
<a href="{% url "home" year=next.year month=next.month %}" data-toggle="tooltip" data-placement="top" title="Next month">
    <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
</a>